<span class="plan-card-tag">{tag}</span>
<div class="plan-card-info">
  <input type="radio" name="plan" />
  <div class="plan-card-info-details">
    <div class="plan-card-info-details-name">
      {name}
      <span>{discount}</span>
    </div>
    <p class="plan-card-info-details-description">{description}</p>
  </div>
  <div class="plan-card-info-price">
    <p class="plan-card-info-price-new">{newPrice}</p>
    <p class="plan-card-info-price-old">{oldPrice}</p>
  </div>
</div>
<div class="plan-card-input">{planCardInputs}</div>