<div class="row">
  <label for="size1">#1</label>
  <select id="size1" name="size1">
    <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
  </select>
  <select id="color1" name="color1">
    <option value="Black">Black</option>
    <option value="White">White</option>
    <option value="Red">Red</option>
  </select>
</div>
<div class="row">
  <label for="size2">#2</label>
  <select id="size2" name="size2">
    <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
  </select>
  <select id="color2" name="color2">
    <option value="Black">Black</option>
    <option value="White">White</option>
    <option value="Red">Red</option>
  </select>
</div>